form {
    width: 30%;
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin-left: 35%;
    border-radius: 15px;
}

.details {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

input {
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
}

button {
    width: 48%;
    font-size: 20px;
    margin: 30px 0 30px 5px;
    border-radius: 10px;
}

#cancel {
    background-color: rgb(255, 162, 162);
}

#submit {
    background-color: rgb(163, 255, 168);
}